.minion, .mini-minion {
    width: 100px;
    height: 200px;
    background-color: #ffcc00;
    position: relative;
    margin: 0 auto;
}

.mini-minion {
    width: 50px;
    height: 100px;
    background-color: purple;
    position: absolute;
    right: 0;
    bottom: 0;
}

.eye {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 25px;
}

.mini-minion .eye {
    width: 25px;
    height: 25px;
    top: 25px;
    left: 12.5px;
}

.mouth {
    width: 60px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 120px;
    left: 20px;
}

.mini-minion .mouth {
    width: 30px;
    height: 10px;
    top: 60px;
    left: 10px;
}
