body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF; /* White background */
    color: #000000; /* Black text */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.navigation-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF; /* White background */
    position: fixed;
    top: 0;
    width: 100%;
}


.navigation-menu li {
    list-style: none;
}

.navigation-menu ul {
    text-align: center;
}

.navigation-menu li a, .dropbtn {
    display: block;
    color: #000000; /* Black text */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold; /* Bold text */
}

.navigation-menu li a:hover, .dropdown:hover .dropbtn {
    background-color: #F0F0F0; /* Light grey background on hover */
}

<div class="navigation-menu">
    <ul>
        <!-- Your existing list items here -->
        <li><a href="#donor">A Message to Our Donor</a></li>
    </ul>
</div>

.navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a:hover {
    color: #1C39BB; /* Persian Blue */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    color: #000000; /* Black text */
    text-align: center;
    padding: 20px 0;
}

p {
    text-align: center;
    color: #000000; /* Black text */
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.polaroid {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px; /* Adjusted to match the minimum size specified in grid-template-columns */
    margin: auto;
    border: 2px solid black;
    transition: box-shadow .3s ease;
}

.polaroid:hover {
    transform: scale(1.05); /* This will scale the polaroid images up to 105% of their original size */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* This will add a larger shadow when the polaroid is hovered over */
}

.polaroid img {
    width: 100%; /* This will make the images take up the full width of the .polaroid */
    height: auto; /* This will maintain the aspect ratio of the images */
}

.image-placeholder {
    width: 100%;
    height: 200px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.polaroid p {
    text-align: center;
    color: #000000; /* Black text */
}


.thank-you-note {
    font-family: 'Georgia', serif; /* A nice, readable font */
    font-size: 2em; /* Increased font size */
    color: #000000; /* Black text */
    background-color: #FFFFFF; /* White background */
    padding: 20px;
    margin: 20px;
    text-align: center; /* Centered text */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* A subtle shadow */
}

.title {
    position: absolute;
    left: 15%; /* Increase this value to move the title more to the right */
    top: 50%; /* Center the title vertically */
    color: #000000; /* Black text */
    font-family: Arial, sans-serif; /* Arial font */
    text-transform: uppercase; /* Uppercase text */
    transform: translateY(-50%); /* This will center the title vertically */
}

.title h1 {
    margin: 0;
    font-size: 50px; /* Increase the font size to 50px */
    font-weight: bold; /* Bold text */
}

.image-container {
    position: absolute;
    right: 5%; /* Adjust this value to move the image left or right */
    top: 50%; /* Center the image vertically */
    width: 45%; /* Adjust this value to change the size of the image */
    height: 90%; /* Adjust this value to change the size of the image */
    transform: translateY(-50%); /* This will center the image vertically */
}

.image-container img {
    object-fit: cover; /* This will make the image cover the entire .image-container */
    width: 100%; /* This will make the image take up the full width of the .image-container */
    height: 100%; /* This will make the image take up the full height of the .image-container */
    border: 10px solid black; /* This will add a black border around the image */
    box-shadow: 0 0 10px black; /* This will add a black shadow around the image for a 3D effect */
}

.learn-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black; /* Persian blue */
    color: white; /* White text */
    text-decoration: none;
    border-radius: 50px; /* Makes the button oval */
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth color transition */
}

.learn-more-button:hover {
    background-color: #1C39BB; /* Darker Persian blue on hover */
    color: white;
}
.button-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.spacer {
    flex-grow: 1;
}

#about-Us {
        padding: 50px 0;
     margin-top: 100vh;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#about-Us h2 {
    font-size: 2em; /* This will make the header larger */
    margin-bottom: 20px; /* This will add some space below the header */
}

#about-Us #mission-statement {
    margin-bottom: 20px; /* This will add some space below the mission statement */
}

#about-Us #about-Us-photo {
    /* Add any styles you want for the photo here */
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    transition: opacity 0.5s ease;
     opacity: 0; 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.overlay-content {
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    position: relative;
    overflow: auto;
}

.overlay img {
    width: 100%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: black;
    cursor: pointer;
}
